.fa.fa-shopping-cart {
    color: #4fc3f7;
    font-size: 30px;
    cursor: pointer;
}

.fas.fa-home {
    color: #4fc3f7;
    font-size: 30px;
    cursor: pointer;
}

.pay_form {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

input[type=text] {
    width: 97%;
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.checkout {
    background-color: #4fc3f7;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}

.checkout:hover {
    background-color: #4fc3f7;
}
.total_price3{
    alignment: center;
}
.grey_form {
    background-color: #f2f2f2;
    padding: 5px 21px 16px 21px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}